.dashboard_header {
    margin: 75px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 35px;
        word-spacing: 5px;

        span {
            color: var(--primary);
        }
    }

    img {
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
    }
}

.back {
    margin: 0 20vw;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--primary);

    svg {
        margin-right: 5px;
    }

    @media screen and (max-width:1200px) {
        margin: 0 5vw;
    }
}

.dashboard {
    background-color: var(--dark-grey);
    margin: 0 20vw;
    border-radius: 3px;
    padding: 15px 15px;

    @media screen and (max-width:1200px) {
        margin: 0 5vw;
    }

    .features_nav {
        margin: 0 -10px;

        button {
            background-color: var(--secondary);
            border-radius: 3px;
            color: white;
            border: 0;
            padding: 5px 15px;
            font-size: 17px;
            margin: 0 10px;
            cursor: pointer;
        }

        button.active {
            background-color: var(--primary);
        }
    }

    .container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.input {
    border: 1px solid black;
    background-color: var(--black);
    width: 20vw;
    padding: 7px 15px;
    border-radius: 3px;
    caret-color: white;
    color: white;

    &:focus {
        border: 1px solid var(--primary);
        outline: 0;
    }

    @media screen and (max-width:1200px) {
        width: 50vw;
    }

    @media screen and (max-width:600px) {
        width: 40vw;
    }
}

.feature_head {
    color: white;
    font-size: 20px;
}

.feature_desc {
    color: var(--grey);
    font-size: 15px;
    margin-bottom: 5px;
}

.from {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    background-color: var(--primary);
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 3px;
    margin-left: 15px;
}